section.photo
    .container
        .photo__wrapper
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__header
                .photo__header-wrapper
                    .photo__header-info 
                        .subtitle
                            h3 Portrait Photography
                            p Our portrait photography service is all about showcasing your unique personality. Whether you need a professional headshot, a family portrait, or a personal photoshoot, we create images that reflect your true self. We work closely with you to bring out your best angles and expressions, ensuring every portrait tells your story.
                            a(href="#").photo__header-link 
                                p View Projects
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                                </svg>
                    div(class="photo__header-slide_portrait").photo__header-slide
                        .photo__header-arrows
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                <path d="M21.25 8.5L12.75 17L21.25 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                <path d="M12.75 8.5L21.25 17L12.75 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Individual Session
                    .photo__info-inner 
                        p $250
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Ideal for capturing your unique personality and style.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes a 2-hour photoshoot and 20 professionally edited images.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Additional images can be purchased at $10 each.
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Family Session
                    .photo__info-inner 
                        p $400
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Perfect for creating lasting memories with your loved ones.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes a 3-hour photoshoot and 30 professionally edited images.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Additional images can be purchased at $10 each.
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Couple Session
                    .photo__info-inner 
                        p $300
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Celebrate your love story with an intimate photoshoot.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes a 2.5-hour photoshoot and 25 professionally edited images.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Additional images can be purchased at $10 each.
        .photo__wrapper
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__header
                .photo__header-wrapper
                    .photo__header-info 
                        .subtitle
                            h3 Events Photography
                            p Our event photography service is dedicated to capturing the magic of your special occasions. Whether it's a wedding, corporate event, or milestone celebration, we're there to document every heartfelt moment. We blend into the background, ensuring natural and candid shots that reflect the emotions of the day.
                            a(href="#").photo__header-link 
                                p View Projects
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                                </svg>
                    div(class="photo__header-slide_events").photo__header-slide
                        .photo__header-arrows
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                <path d="M21.25 8.5L12.75 17L21.25 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                <path d="M12.75 8.5L21.25 17L12.75 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Wedding Photography
                    .photo__info-inner 
                        p $1,500
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Capture the magic of your special day.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes full-day coverage, a second photographer, and 300+ professionally edited images.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Customizable packages are available to suit your specific wedding needs.
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Party Coverage
                    .photo__info-inner 
                        p $800
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Preserve the fun and excitement of your event.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes up to 4 hours of coverage and 150+ professionally edited images.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Additional hours can be added at $150 per hour.
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Corporate Events
                    .photo__info-inner 
                        p 900$
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Tailored solutions for corporate gatherings, conferences, and seminars.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Contact us for a personalized quote based on your event's requirements.
        .photo__wrapper
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__header
                .photo__header-wrapper
                    .photo__header-info 
                        .subtitle
                            h3 Commercial Photography
                            p In the world of business, a compelling image can make all the difference. Our commercial photography service is designed to enhance your brand's visual identity. We create striking images for your products, services, and marketing campaigns that leave a lasting impact on your audience.
                            a(href="#").photo__header-link 
                                p View Projects
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                                </svg>
                    div(class="photo__header-slide_commercial").photo__header-slide
                        .photo__header-arrows
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                <path d="M21.25 8.5L12.75 17L21.25 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                                <path d="M12.75 8.5L21.25 17L12.75 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Product Photography
                    .photo__info-inner 
                        p $500
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Showcase your products in the best light.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes a half-day photoshoot, 20 professionally edited product images, and high-resolution files.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Additional images can be purchased at $20 each.
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Real Estate Photography
                    .photo__info-inner 
                        p $700
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Highlight the beauty of your properties.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Includes interior and exterior shots, a 2-hour photoshoot, and 25 professionally edited images.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Additional images can be purchased at $20 each.
            div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").photo__info
                .photo__info-price
                    p Brand Photography
                    .photo__info-inner 
                        p 900$
                        a(href="#").photo__info-link 
                            p Book a Call
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                            </svg>
                .photo__info-deskr
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Craft a visual narrative that aligns with your brand identity.
                    .photo__info-item
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_66_839)">
                                <mask id="mask0_66_839" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                                <path d="M40 0H0V40H40V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_66_839)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7882 20C38.5538 20 39.2954 19.8972 40 19.7047C39.4398 19.5865 38.859 19.5244 38.2638 19.5244H28.371C26.737 19.5244 25.2122 19.0562 23.9238 18.2467C24.2054 16.5979 24.9826 15.0173 26.2554 13.7446L32.5782 7.42188C33.1196 6.88048 33.5712 6.28338 33.9334 5.64904C33.4536 5.96158 32.999 6.32832 32.5782 6.74926L25.5828 13.7446C24.4274 14.9 23.0182 15.647 21.5348 15.9857C20.568 14.6207 20 12.9534 20 11.1535V2.21186C20 1.44621 19.8972 0.70458 19.7047 0C19.5865 0.560142 19.5244 1.14093 19.5244 1.73624V11.6291C19.5244 13.2631 19.0562 14.7878 18.2467 16.0762C16.5979 15.7945 15.0173 15.0173 13.7446 13.7446L7.42188 7.42188C6.88048 6.88048 6.28338 6.42874 5.64904 6.06668C5.96158 6.5463 6.32832 7.00094 6.74926 7.42188L13.7446 14.4172C14.9 15.5726 15.647 16.9818 15.9857 18.4653C14.6207 19.4319 12.9534 20 11.1535 20H2.21186C1.44621 20 0.704578 20.1028 0 20.2954C0.560146 20.4134 1.14094 20.4756 1.73624 20.4756H11.6291C13.2631 20.4756 14.7878 20.9438 16.0762 21.7534C15.7945 23.402 15.0173 24.9826 13.7446 26.2554L7.42188 32.5782C6.8805 33.1196 6.42876 33.7166 6.0667 34.351C6.54632 34.0384 7.00094 33.6716 7.42188 33.2508L14.4172 26.2554C15.5726 25.1 16.9818 24.353 18.4653 24.0142C19.4319 25.3794 20 27.0466 20 28.8466V37.7882C20 38.5538 20.1028 39.2954 20.2954 40C20.4134 39.4398 20.4756 38.859 20.4756 38.2638V28.3708C20.4756 26.7368 20.9438 25.2122 21.7534 23.9238C23.402 24.2054 24.9826 24.9826 26.2554 26.2554L32.5782 32.5782C33.1196 33.1196 33.7166 33.5712 34.351 33.9334C34.0384 33.4536 33.6716 32.999 33.2508 32.5782L26.2554 25.5828C25.1 24.4274 24.353 23.0182 24.0144 21.5348C25.3794 20.568 27.0466 20 28.8466 20H37.7882Z" fill="#474752"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_66_839">
                                <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        p Contact us to discuss your brand photography needs and receive a personalized quote.
        