section.biography
    .container
        h2(class="wow animate__animated animate__fadeInUp").text-header И, КОНЕЧНО, ЮЛИЯ ВОРМАН
        div(class="wow animate__animated animate__fadeInUp").biography__wrapper
            .biography__info
                p.text-medium <span class="text-bold">БОЛЬШЕ 12 ЛЕТ</span> Я НАРАЩИВАЮ РЕСНИЦЫ <span class="text-bold">ЗА 1 ЧАС.</span> В ПРОФЕССИ Я РАЗВИВАЮСЬ <span class="text-bold">С 2008 ГОДА</span> И, ПУТЕМ ПРОБ И ОШИБОК, ДОШЛА <span class="text-bold">ДО ИДЕАЛЬНЫХ РЕЗУЛЬТАТОВ!</span> МОИ ПРОФЕССИОНАЛЬНЫЕ НАВЫКИ СДЕЛАЛИ МЕНЯ <span class="text-bold">МНОГОКРАТНЫМ ПРИЗЕРОМ</span>, А ПОТОМ И <span class="text-bold">СУДЬЕЙ МЕЖДУНАРОДНЫХ ЧЕМПИОНАТОВ ПО НАРАЩИВАНИЮ РЕСНИЦ</span> 
                p.text-medium Я ОСНОВАЛА <span class="text-bold">СЕТЬ САЛОНОВ VERSUS</span> И ТЕПЕРЬ АКТИВНО ЗАПУСКАЮ СВОИ ОБУЧЕНИЯ <span class="text-bold">ПО СКОРОМТНОМУ НАРАЩИВАНИЮ</span>. ЛОМАЮ СТЕРЕОТИПЫ, <span class="text-bold">УЧУ МАСТЕРОВ ПОДНИМАТЬ ЧЕКИ И ЗАРАБАТЫВАТЬ МИЛЛИОНЫ.</span>
                .biography__stats 
                    .biography__inner
                        p.text-header 1 ЧАС
                        p.text-medium САМОЕ БЫСТРОЕ 5D 
                    .biography__inner
                        p.text-header 12+ ЛЕТ
                        p.text-medium РАБОТАЮ СВОЕЙ СФЕРЕ 
                    .biography__inner
                        p.text-header 1+ МЛН
                        p.text-medium В МЕСЯЦ ДЕЛАЮ НА РЕСНИЦАХ 
                    .biography__inner
                        p.text-header 100000+
                        p.text-medium КЛИЕНТОК Я ОСЧАСТЛИВИЛА
                p.text-medium ВСЕ МОИ НАРАЩИВАНИЯ Я ДЕЛАЮ ЗА 1 - МАКСИМУМ 1.5 ЧАСА<br><span class="text-bold">ХОЧЕШЬ ТАКЖЕ? СМОТРИ ПРОГРАММУ И ЗАПИСЫВАЙСЯ НА ИНТЕНСИВ</span>
            img(src="./img/photo.png", alt="photo")