section.expectation
    .container
        h2(class="wow animate__animated animate__fadeInUp").text-header НА ИНТЕНСИВЕ ТЕБЯ ЖДЕТ
        div(class="wow animate__animated animate__fadeInUp").expectation__wrapper
            .expectation__inner
                .expectation__item
                    img(src="./img/smile-1.png", alt="smile")
                    p.text-medium <span class="text-bold">9 УРОКОВ</span> С ДОМАШНИМИ ЗАДАНИЯМИ И ПРОВЕРКОЙ
                .expectation__item
                    img(src="./img/smile-2.png", alt="smile")
                    p.text-medium <span class="text-bold">МАСТЕРМАИНДЫ</span> С ОБСУЖДЕНИЕМ ВОПРОСОВ 
                .expectation__item
                    img(src="./img/smile-3.png", alt="smile")
                    p.text-medium ДЕЛЕНИЕ НА ПАРЫ И СОЗДАНИЕ<span class="text-bold"> АКТИВНОГО КОМЬЮНИТИ</span>
            .expectation__inner
                .expectation__item
                    img(src="./img/gift.png", alt="gift")
                    p.text-medium <span class="text-bold">ГЛАВНЫЙ ПРИЗ ЗА АКТИВНОСТЬ НА ИНТЕНСИВЕ</span>
                .expectation__item
                    img(src="./img/gift.png", alt="gift")
                    p.text-medium <span class="text-bold">ПРИЗ ЗА РАБОТУ ДЛЯ САМОЙ АКТИВНОЙ ПАРЫ</span>
                .expectation__item
                    img(src="./img/gift.png", alt="gift")
                    p.text-medium <span class="text-bold">ПРИЗ СРЕДИ СТОРИС С ХЕШТЕГОМ ИНТЕНСИВА </span>