footer.footer
    .container 
        .footer__wrapper
            .footer__column
                p.text-medium ЮЛИЯ ВОРМАН
                p.text-medium ИНН:
                p.text-medium ОГРНИП:
            .footer__column
                a(href="#").text-medium НАВЕРХ
                a(href="").text-medium  Design by @kemfetka
            .footer__column
                a(href="#").text-medium ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                a(href="").text-medium  ДОГОВОР-ОФЕРТА
                a(href="#").text-medium СВЯЗАТЬСЯ С НАМИ