header.header
    .container 
        div(class="wow animate__animated animate__fadeInUp").header__wrapper
            .header__name
                p(class="text-nav") ИНТЕНСИВ <br> ЮЛИИ ВОРМАН
            nav.header__nav
                a(href="#" class="text-nav") ДЛЯ КОГО?
                a(href="#" class="text-nav") ЧТО БУДЕТ НА ИНТЕНСИВЕ?
                a(href="#" class="text-nav") О ЮЛИИ
                a(href="#" class="text-nav") ТАРИФЫ
            .header__burger
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="23" viewBox="0 0 40 23" fill="none">
                    <line y1="11.5" x2="39.9996" y2="11.5" stroke="white" stroke-width="3"/>
                    <line y1="21.5" x2="39.9996" y2="21.5" stroke="white" stroke-width="3"/>
                    <line x1="0.000244141" y1="1.5" x2="39.9999" y2="1.5" stroke="white" stroke-width="3"/>
                </svg>
        .header__mob-nav
            nav.header__inner 
                a(href="#" class="text-nav") ДЛЯ КОГО?
                a(href="#" class="text-nav") ЧТО БУДЕТ НА ИНТЕНСИВЕ?
                a(href="#" class="text-nav") О ЮЛИИ
                a(href="#" class="text-nav") ТАРИФЫ

