section.main 
    .container
        div(class="wow animate__animated animate__fadeInUp").main__wrapper
            .main__info
                p.text-subheader ПЕРВЫЙ В МИРЕ ИНТЕНСИВ
                h1.text-header ПО СКОРОСТНОМУ НАРАЩИВАНИЮ РЕСНИЦ
                p.text-subheader ХОЧЕШЬ НАРАЩИВАТЬ 4D ЗА 1 ЧАС? НАУЧУ ТЕБЯ НА ИНТЕНСИВЕ 29 МАРТА
                .main__buttons 
                    a(href="#" class="animate__animated animate__pulse animate__infinite").button 
                        .text-button ЗАПИСАТЬСЯ
                    a(href="#" class="button").button-hollow
                        p.text-button ПРОГРАММА
            img(src="./img/main-img.png", alt="Image")