section.price
    .container 
        h2(class="wow animate__animated animate__fadeInUp").text-header ТАРИФЫ УЧАСТИЯ
        div(class="wow animate__animated animate__fadeInUp").price__wrapper
            .price__card 
                img(src="./img/tarif-1.png", alt="smile")
                p(style="color: #4C3D74; margin-bottom: 15px").text-bold LITE (САМОСТОЯТЕЛЬНЫЙ)
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 9 ПОДРОБНЫХ УРОКОВ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 9 ЗАДАНИЙ НА ПОСТРОЕНИЕ СКОРОСТНОЙ РАБОТЫ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ЧАТ С ЕДИНОМЫШЛЕННИКАМИ 
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ДОПОЛНИТЕЛЬНЫЙ УРОК: ЛИЧНЫЙ БРЕНД ДЛЯ БЬЮТИ-СФЕРЫ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14"/>
                    </svg>
                    p(style="text-decoration: line-through;").text-medium 2 МАСТЕРМАИНДА С ЮЛИЕЙ ВОРМАН
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14"/>
                    </svg>
                    p(style="text-decoration: line-through;").text-medium ЛИЧНОЕ ВЕДЕНИЕ ОТ ЮЛИИ ВОРМАН
                p(style="color: #4C3D74; margin-top: 15px").text-bold ДЛИТЕЛЬНОСТЬ: 14 ДНЕЙ
                .price__inner 
                    p(style="font-size: 12px;").text-medium КАЖДЫЕ <span style="font-size: 12px;" class="text-bold">20 ОПЛАТ</span> + 1111 Р.
                    p.text-bold 6666 Р.
                a(href="#").button
                    p.text-button ОПЛАТИТЬ
            .price__card 
                img(src="./img/tarif-2.png", alt="smile")
                p(style="color: #4C3D74; margin-bottom: 15px").text-bold PLUS (С КУРАТОРОМ)
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 9 ПОДРОБНЫХ УРОКОВ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 9 ЗАДАНИЙ НА ПОСТРОЕНИЕ СКОРОСТНОЙ РАБОТЫ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ЧАТ С ЕДИНОМЫШЛЕННИКАМИ 
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ДОПОЛНИТЕЛЬНЫЙ УРОК: ЛИЧНЫЙ БРЕНД ДЛЯ БЬЮТИ-СФЕРЫ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 2 МАСТЕРМАИНДА С ЮЛИЕЙ ВОРМАН
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14"/>
                    </svg>
                    p(style="text-decoration: line-through;").text-medium ЛИЧНОЕ ВЕДЕНИЕ ОТ ЮЛИИ ВОРМАН
                p(style="color: #4C3D74; margin-top: 15px").text-bold ДЛИТЕЛЬНОСТЬ: 14 ДНЕЙ
                .price__inner 
                    p(style="font-size: 12px;").text-medium КАЖДЫЕ <span style="font-size: 12px;" class="text-bold">20 ОПЛАТ</span> + 1111 Р.
                    p.text-bold 11111 Р.
                a(href="#").button
                    p.text-button ОПЛАТИТЬ
            .price__card 
                img(src="./img/tarif-3.png", alt="smile")
                p(style="color: #4C3D74; margin-bottom: 15px").text-bold BOMBA (С ЮЛИЕЙ ВОРМАН)
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 9 ПОДРОБНЫХ УРОКОВ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 9 ЗАДАНИЙ НА ПОСТРОЕНИЕ СКОРОСТНОЙ РАБОТЫ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ЧАТ С ЕДИНОМЫШЛЕННИКАМИ 
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ДОПОЛНИТЕЛЬНЫЙ УРОК: ЛИЧНЫЙ БРЕНД ДЛЯ БЬЮТИ-СФЕРЫ
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium 2 МАСТЕРМАИНДА С ЮЛИЕЙ ВОРМАН
                .price__row 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    p.text-medium ЛИЧНОЕ ВЕДЕНИЕ ОТ ЮЛИИ ВОРМАН
                p(style="color: #4C3D74; margin-top: 15px").text-bold ДЛИТЕЛЬНОСТЬ: 14 ДНЕЙ
                .price__inner 
                    p(style="font-size: 12px;").text-medium КАЖДЫЕ <span style="font-size: 12px;" class="text-bold">20 ОПЛАТ</span> + 1111 Р.
                    p.text-bold 33333 Р.
                a(href="#").button
                    p.text-button ОПЛАТИТЬ
        div(class="wow animate__animated animate__fadeInUp").price__footer 
            img(src="./img/gift.png", alt="gift")
            p.text-bold ИДЕТЕ НА ИНТЕНСИВ? ВЫЛОЖИТЕ ОБ ЭТОМ СТОРИС-ШАБЛОН С ОТМЕТКОЙ ЮЛИИ ВОРМАН И ВАС БУДЕТ ЖДАТЬ РОЗЫГРЫШ ДОПОЛНИТЕЛЬНОГО ПОДАРКА!
            a(href="#" class="button").button-hollow
                p.text-button СТОРИС-ШАБЛОН
                a(href="#").text-bold @ULIAVORMAN
                
