section.program
    .container
        h2(class="wow animate__animated animate__fadeInUp").text-header ВОТ ТАКАЯ ПРОГРАММА ИНТЕНСИВА
        div(class="wow animate__animated animate__fadeInUp").program__wrapper
            .program__item
                .program__content
                    p.text-slide УРОК 1. ВВОДНЫЙ УРОК
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 2. СКОРОСТНОЕ СНЯТИЕ РЕСНИЦ
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 3. РАБОТА С КЛЕЕМ. КАК ПРОДЛИТЬ НОСКУ
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 4. ЗДОРОВЬЕ МАСТЕРА
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 5. ЛИЧНЫЙ БРЕНД В INSTAGRAM: ПОЧЕМУ УВЯДАЮТ КОММЕРЧЕСКИЕ АККАУНТЫ
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 6. ЛОМАЕМ СТЕРЕОТИПЫ МОДЕЛИРОВАНИЯ: ЧЕМ СЛОЖНЕЕ ПРИДУМАЛ, ТЕМ СЛОЖНЕЕ ЖИТЬ
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 7. КЛАССИЧЕСКОЕ НАРАЩИВАНИЕ РЕСНИЦ
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 8. ПУЧОК. КАК БЫСТРО И ПРАВИЛЬНО ФОРМИРОВАТЬ ТЕБЯ, ДРУЖОК?
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
            .program__item
                .program__content
                    p.text-slide УРОК 9. НАРАЩИВАЕМ ОБЪЕМЫ 2D+ 
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                .program__hide
                    p.text-slide Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
        div(class="wow animate__animated animate__fadeInUp").program__footer
            .program__inner 
                a(href="#" class="animate__animated animate__pulse animate__infinite").button
                    p.text-button Записаться
                p.text-subheader Все еще думаешь?<br>А места разбирают уже сейчас
            img(src="./img/reasons-bg.png", alt="girl")