section(class="wow animate__animated animate__fadeInUp").reasons 
    .container 
        h2.text-header ТЕБЕ НА ИНТЕНСИВ ЕСЛИ ТЫ
        .reasons__wrapper
            .reasons__item 
                img(src="./img/reasons-1.png", alt="girl")
                p.text-medium ЛАШМЕЙКЕР, КОТОРЫЙ ДЕЛАЕТ НАРАЩИВАНИЕ<span class="text-bold"> ДОЛЬШЕ ОДНОГО ЧАСА? </span>
            .reasons__item 
                img(src="./img/reasons-2.png", alt="girl")
                p.text-medium МАСТЕР, КОТОРЫЙ ХОЧЕТ <span class="text-bold">ПОМЕНЯТЬ МЫШЛЕНИЕ</span> О НАРАЩИВАНИИ РЕСНИЦ
            .reasons__item 
                img(src="./img/reasons-3.png", alt="girl")
                p.text-medium СПЕЦИАЛИСТ, КОТОРОМУ НЕОБХОДИМЫ <span class="text-bold">ПОДДЕРЖКА И КОМЬЮНИТИ РЯДОМ</span> 
        .reasons__footer
            p(style="color: #4C3D74;").text-subheader ЗАРЯДИСЬ ЭНЕРГИЕЙ И СТАНЬ САМЫМ ЗНАМЕНИТЫМ МАСТЕРОМ СВОЕГО ГОРОДА
            a(href="" class="animate__animated animate__pulse animate__infinite").button
                p.text-button ЗАПИСАТЬСЯ
            img(src="./img/reasons-bg.png", alt="girl")