doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://meyerweb.com/eric/tools/css/reset/reset200802.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="stylesheet", href="./css/style.css")
        title Intensive
    body 
        include ./modules/header.pug
        main 
            include ./modules/main.pug
            include ./modules/reasons.pug
            include ./modules/expectation.pug
            include ./modules/biography.pug
            include ./modules/program.pug
            include ./modules/price.pug
            include ./modules/questions.pug
        footer 
            include ./modules/footer.pug



script(src="js/wow.min.js")
script new WOW().init();
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
script(src="js/script.js")