section.faqs
    .container 
        div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").faqs__header 
            p FAQ’s
            h2 Frequently Asked Questions
        div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").faqs__questions 
            .accordion-item
                .accordion-item-title
                    p What type of photography do you specialize in?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p I specialize in [Portrait, Landscape, Event, etc.] photography, capturing moments that tell unique stories.
            .accordion-item
                .accordion-item-title
                    p What is your editing process like?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p Yes, prints are available for purchase. Explore the 'Prints' section for more details on sizes and pricing.
            .accordion-item
                .accordion-item-title
                    p How can I book a photography session with you?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p I specialize in [Portrait, Landscape, Event, etc.] photography, capturing moments that tell unique stories.
            .accordion-item
                .accordion-item-title
                    p Are digital files included in your photography packages?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p Yes, prints are available for purchase. Explore the 'Prints' section for more details on sizes and pricing.
            .accordion-item
                .accordion-item-title
                    p What equipment do you use for your photography?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p I specialize in [Portrait, Landscape, Event, etc.] photography, capturing moments that tell unique stories.
            .accordion-item
                .accordion-item-title
                    p Do you offer prints of your photographs?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p Yes, prints are available for purchase. Explore the 'Prints' section for more details on sizes and pricing.
            .accordion-item
                .accordion-item-title
                    p Can I request a specific location for a 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p I specialize in [Portrait, Landscape, Event, etc.] photography, capturing moments that tell unique stories.
            .accordion-item
                .accordion-item-title
                    p How long does it take to receive the edited photos after a session?
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M18.5 9L12.5 15L6.5 9" stroke="#CACACE" stroke-width="2"/>
                    </svg>
                .accordion-item-content
                    p Yes, prints are available for purchase. Explore the 'Prints' section for more details on sizes and pricing.
            