.portfolio
    .container 
        div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").portfolio__header 
            .portfolio__header-wrapper
                p Portfolio
                h2 Explore My photography work
            .portfolio__header-arrow
                <svg class="portfolio__header-arrow_prev" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                    <path d="M21.25 8.5L12.75 17L21.25 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg class="portfolio__header-arrow_next" style="margin-left: 16px" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                    <path d="M12.75 8.5L21.25 17L12.75 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            a(href="#").portfolio__header-link View All Works ->
        div(class="wow animate__animated animate__fadeInUp" data-wow-delay="0.5s").portfolio__content 
            .portfolio__content-item 
                img(src="./img/portfolio-1.png", alt="portfolio image")
                .portfolio__content-wrapper
                    .portfolio__content-name 
                        p Faces of Resilience
                        span March 2022
                    a(href="#").portfolio__content-link
                        p View Project
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                        </svg>
            .portfolio__content-item 
                img(src="./img/portfolio-2.png", alt="portfolio image")
                .portfolio__content-wrapper
                    .portfolio__content-name 
                        p A Wedding Tale
                        span January 2020
                    a(href="#").portfolio__content-link
                        p View Project
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                        </svg>
            .portfolio__content-item 
                img(src="./img/portfolio-3.png", alt="portfolio image")
                .portfolio__content-wrapper
                    .portfolio__content-name 
                        p Product Elegance
                        span January 2020
                    a(href="#").portfolio__content-link
                        p View Project
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                        </svg>
            .portfolio__content-item 
                img(src="./img/portfolio-4.png", alt="portfolio image")
                .portfolio__content-wrapper
                    .portfolio__content-name 
                        p Faces of Resilience
                        span March 2022
                    a(href="#").portfolio__content-link
                        p View Project
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 3.75L19.5 3.75C19.6989 3.75 19.8897 3.82902 20.0303 3.96967C20.171 4.11032 20.25 4.30109 20.25 4.5V15.75C20.25 16.1642 19.9142 16.5 19.5 16.5C19.0858 16.5 18.75 16.1642 18.75 15.75V6.31066L5.03033 20.0303C4.73744 20.3232 4.26256 20.3232 3.96967 20.0303C3.67678 19.7374 3.67678 19.2626 3.96967 18.9697L17.6893 5.25L8.25 5.25C7.83579 5.25 7.5 4.91421 7.5 4.5C7.5 4.08579 7.83579 3.75 8.25 3.75Z" fill="white"/>
                        </svg>
        div(class="wow animate__animated animate__fadeInUp").portfolio__arrows 
            <svg class="portfolio__header-arrow_prev" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path d="M21.25 8.5L12.75 17L21.25 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <svg class="portfolio__header-arrow_next" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path d="M12.75 8.5L21.25 17L12.75 25.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>    